/* 
Srinivas Tamada
www.9lessons.info 
Facebook Wall Script
*/

/**
{
        margin:0px;
        padding:0px;
}
body
{
        font-family:Arial, Helvetica, sans-serif;
        font-family:12px;
}*/
h3,h4
{
        padding:0px;
        margin:0px;
}
/*a
{
        color:#3B5998;
        text-decoration:none;
}
a:hover
{
        text-decoration:underline;
}*/
#wall_container
{
        text-align:left;
        /*background-color:#FFFFFF;*/
        /*        margin:20px;
                width:590px;*/
}

.imgpreview
{
        border:solid 1px #333;
        max-width:130px;
        max-height:125px;
        margin-bottom:10px;
        margin-right:10px;
}
.preview
{
        border:solid 1px #333;
        max-width:150px;
        max-height:125px;
        margin-bottom:10px;
        margin-left:10px;
}
.webcam_preview
{
        width:103px;
        margin:0px 3px 3px 0px;
}
#webcam{  float:left; width:320px;height:240px;border:solid 1px #333;margin-right:5px }
#webcam_preview {float:left; width:230px;height:240px; }
#webcam_status,#webcam_takesnap
{
        width:100%;clear:both;padding-top:5px
}
#content
{
        /*margin-top:10px;*/

}
#updateboxarea
{
        /*padding:10px;*/
}
#update
{
        border:solid 1px #BDC7D8;
        height:50px;
        width:100%;
        font-size:13px;
        font-family:Arial, Helvetica, sans-serif;
        padding:5px;
}
.comment
{
        border:solid 1px #BDC7D8;
        font-family:Arial, Helvetica, sans-serif;
}
/*#update_button
{
        background-color:#3B5998;
        color:#FFF;
        font-weight:bold;
        padding:5px;
        border:solid 1px #333;
        margin-top:10px;
        cursor:pointer;

}*/
#imageupload, .cimageupload
{
        /*overflow:auto;*/ 
        /*padding:10px;*/
        /*width:560px;*/ 
        font-size:11px;
        display:none;
        border: none;
}
#webcam_container
{
        overflow:auto; padding:10px;width:560px; font-size:11px;display:none;
}

.border
{
        border-left:solid 1px #BDC7D8;border-right:solid 1px #BDC7D8;border-bottom:solid 1px #BDC7D8; 

}
/* status body */

.stbody
{
        padding:10px;
        /*border-bottom:solid 1px #dedede;*/
        overflow:hidden;
        background-color: #ffffff;
}
.stimg
{
        float:left;
        height:60px;
        width:60px;
        border:solid 1px #dedede;
        padding:3px;
}
.sttext
{
        margin-left:70px;
        min-height:50px;
        word-wrap:break-word;
        overflow:hidden;
        padding:5px;
        display:block;
        font-size:12px;
        /*width:490px;*/
}
.sttext b
{
        color:#006699;
}

.sttime
{
        font-size:11px;
        color:#999;
        font-family:Arial, Helvetica, sans-serif;
        margin-top:5px;
}
.stcalendar{
        margin-right:3px;
}
.stdelete
{
        font-weight:bold;
        float:right;
        cursor:pointer;
        /*background:url(/assets/icons/trashdull.png);*/
        display: none;
        height:20px;
        width:20px;
}
.stbody:hover .stdelete{
        display : block;
}
.stdelete:hover
{
        /*background:url(/assets/icons/trash.png);*/
}
#stexpandbox
{
        margin-top:10px;
}
#stexpandbox img
{
        border:solid 1px #dedede;
        padding:3px;
}
/* Comment */
.comment_ui,
.stcommentbody
{
        border-bottom:solid 2px #fff;
        background-color:#EDEFF4;
        padding:5px;
        /*width:550px;*/
        overflow:auto;
}
.stcommentimg
{
        margin-top: 3px;
        float:left;
        height:40px;
        width:40px;
        border:solid 1px #dedede;
        padding:2px;
}
.stcommenttext 
{
        margin-left: 45px;
        min-height: 40px;
        word-wrap: break-word;
        overflow: hidden;
        padding: 3px;
        display: block;
        font-size: 11px;
        /*width: 480px;*/
}
.stcommenttext b
{
        color:#006699;
}

.stcommenttime
{
        font-size:11px;
        color:#999;
        font-family:Arial, Helvetica, sans-serif;
        margin-top:5px;
}
.stcommentdelete 
{
        font-weight:bold;
        float:right;
        cursor:pointer;
        display:none;
        /*background:url(/assets/icons/trashdull.png);*/
        height:20px;
        width:20px; 
}
.stcommenttext:hover .stcommentdelete
{
        /*display:block*/
}
.stcommentdelete:hover
{
        /*background:url(/assets/icons/trash.png);*/
}

.commentupdate
{
        /*background-color:#f2f2f2;*/
        background-color: #FFF;
        /*width:600px;*/

        /*padding:5px;*/
}
.comment
{
        width:100%;
        height:55px;
        font-size:11px;
        padding: 5px;
}
/* faceb image*/
.small_face
{
        width:35px;height:35px
}
.big_face
{
        width:50px;height:50px
}
#flashmessage
{
        height:15px;
        margin-top:10px;
        font-size:11px;
        color:#333;

}
.morebox
{
        font-weight:bold;
        color:#333333;
        text-align:center;
        border:solid 1px #333333;

        margin-top:8px;
        margin-bottom:8px;
        display:block;
        font-size:13px;
        width:100%;

}
.morebox a{text-decoration:none; padding:8px;  display:block}
.morebox a:hover{ text-decoration:none; background-color:#dedede}
.button
{
        background-color:#6D84B4;
        padding:5px;
        color:#fff;
        font-weight:bold;
        border:solid 1px #333;
        font-size:11px;
        font-family:Arial, Helvetica, sans-serif;
        cursor:pointer;
}
#addphoto
{
        font-weight:bold;
}
#camera_error
{
        text-align:center;
        margin-top:80px;
}

/* Friends */
.count
{
        font-family: 'Georgia',Times New Roman,Times,serif;font-size: 26px;
}
.add-box, .rm-box {

        background-position: left bottom;
        background-repeat: repeat-x;
        border: 1px solid #666666;
        color: white !important;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 1px;
        padding: 5px;
        text-shadow: 1px 1px 1px #333333;
}
.fplain-menu {
        background-color: #DEDEDE;
        border: 1px solid #333333;
        display: block;
        font-size: 11px;
        min-width: 30px;
        padding: 4px;
        text-align: center;
}
.add-box {
        background-color: #6CAD45;
}
.rm-box
{
        background-color: #E06666;
}
.follow
{
        float:right;widht:190px;margin-top:10px;
}
#bar {
        background-color: #333333;
        box-shadow: 0 4px 5px #AAAAAA;
        height: 35px;
        position: fixed;
        width: 100%;
        z-index: 3;
}
/*body
{
        padding-top:30px
}*/
#profile_grid
{
        width:100%;background-color:#f2f2f2;height:50px;padding:10px;margin-top:10px
}
#top_container
{
        text-align: left;
        width: 590px;
        padding:8px;
}

#prev {
        float: left;
        padding-right: 10px;
}
#next {
        float: right;
        padding-left: 10px;
}

.nbutton {
        background-color: #888 !important;
        background-position: left bottom;
        background-repeat: repeat-x;
        border: 1px solid #666666;
        color: white;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0;
        margin-right: 0;
        margin-top: 1px;
        padding: 5px;
        text-shadow: 1px 1px 1px #333333;
}
.nbutton a
{
        color:#fff
}

#searchbox {
        float: left;
        margin-left: 100px;
        margin-top: -2px;
        width: 200px;
}

#display {
        background-color: #FFFFFF;
        border-bottom: 1px solid #DEDEDE;
        border-left: 1px solid #DEDEDE;
        border-right: 1px solid #DEDEDE;
        box-shadow: 0 0 42px #000000;
        display: none;
        font-weight: bold;
        margin-left: 5px;
        overflow: hidden;
        width: 196px;
}
.uiinput {

        background-color: #F2F2F2;

        border-right: 0 none;
        border-style: solid none none;
        border-width: 1px 0 0;
        margin: 0 22px 0 5px;
        outline: medium none;
        padding: 3px 5px 3px 3px;
        width: 190px;
}
.display_box {
        border-top: 1px solid #DEDEDE;
        font-size: 12px;
        height: 30px;
        padding: 4px;
}
.search_face {
        float: left;
        margin-right: 5px;
        width: 30px;
}
.logo
{
        float:left;margin-left:20px
}
.timeago
{
        color:#999999;
        text-decoration:none;	
}
#noupdates
{

        color:#b2b2b2;margin-top:30px;text-align:center
}

.odd{

        border-bottom:solid 2px #fff;
        border: solid 1px #e1e1e1;
        background-color:#f9f9f9 !important;
        padding:5px;
        /*width:400px;*/
        overflow:auto;
}

.even{
        border-bottom:solid 2px #fff;
        background-color:#FFF !important;
        padding:5px;
        /*width:400px;*/
        overflow:auto;
}

.comment_button{
        margin-top: 1px;        
}

/*.upload_file_button{
        margin-top: 10px;
}*/

#document_upload, #output_upload{
        padding-left:3px;
}

.stdocument,.stoutput{
        margin-right:3px;
}